{% extends 'cerp/base.html' %}
{% block head %}
    <link href="../../static/cerp/Static_Full_Version/css/plugins/select2/select2.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="form-group col-sm-5">
                        <div class="col-sm-5">
                            <select class="select2_demo_3 form-control">
                                <option></option>
                                <option value="Bahamas">고객명</option>
                                <option value="Bahrain">전화번호</option>
                                <option value="Bangladesh">사업자번호</option>
                                <option value="Barbados">대표자</option>
                                <option value="Belarus">상담번호</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="ibox-tools" >
                    <button class="btn btn-outline btn-primary dim" type="button" title="신규" ><i class="fa fa-file-o"></i></button>
                    <button class="btn btn-outline btn-warning dim" type="button" title="저장"><i class="fa fa-floppy-o"></i></button>
                    <button class="btn btn-outline btn-primary dim" type="button" title="조회" style="margin-right:50px"><i class="fa fa-search"></i></button>
                    <button class="btn btn-outline btn-success dim" type="button" title="삭제" style="margin-right:50px"><i class="fa fa-trash"></i></button>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
	</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>고객 정보</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form method="get" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">거래처번호</label>
                                        <div class="col-sm-4">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                        <label class="col-sm-2 control-label">거래처명</label>
                                        <div class="col-sm-4">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">대표자명</label>
                                        <div class="col-sm-4">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                        <label class="col-sm-2 control-label">사업자등록번호</label>
                                        <div class="col-sm-4">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">연락처</label>
                                        <div class="col-sm-3">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-3">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                    </div>                       
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <form method="get" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">우편번호</label>
                                        <div class="col-sm-2">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                        <label class="col-sm-2 control-label">사용현황</label>
                                        <div class="col-sm-2">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">주소</label>
                                        <div class="col-sm-10">
                                            <input type="text" disabled="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">거래처메모</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control message-input" name="message" disabled=""></textarea>
                                        </div>
                                    </div>                       
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i>전체미완료</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i>담당미완료</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Striped Table </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
    <!-- Select2 -->
    <script src="../../static/cerp/Static_Full_Version/js/plugins/select2/select2.full.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".select2_demo_3").select2({
                    placeholder: "원하는 검색조건을 선택하세요.",
                    allowClear: true
                });
        });
    </script>
{% endblock %}